# Task 1

#### Create a bar chart or histogram to visualize the distribution of a categorical or continuous variable, such as the distribution of ages or genders in a population.

### About The Dataset

#### We have taken a World Population Dataset consisting records of population from the year 2001 to 2022.

In [3]:
# Importing the necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# read the dataset
population = pd.read_csv("Population.csv")

In [9]:
population.head()

,Series Name,Series Code,Country Name,Country Code,2022,2021,2020,2019,2018,2017,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,41128771.0,40099462.0,38972230.0,37769499.0,36686784.0,35643418.0,...,28189672.0,27385307.0,26427199.0,25903301.0,25442944.0,24411191.0,23553551.0,22645130.0,21000256.0,19688632.0
1,"Population, total",SP.POP.TOTL,Albania,ALB,2775634.0,2811666.0,2837849.0,2854191.0,2866376.0,2873457.0,...,2913021.0,2927519.0,2947314.0,2970017.0,2992547.0,3011487.0,3026939.0,3039616.0,3051010.0,3060173.0
2,"Population, total",SP.POP.TOTL,Algeria,DZA,44903225.0,44177969.0,43451666.0,42705368.0,41927007.0,41136546.0,...,35856344.0,35196037.0,34569592.0,33983827.0,33435080.0,32956690.0,32510186.0,32055883.0,31624696.0,31200985.0
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,44273.0,45035.0,46189.0,47321.0,48424.0,49463.0,...,54849.0,55366.0,55891.0,56383.0,56837.0,57254.0,57626.0,57941.0,58177.0,58324.0
4,"Population, total",SP.POP.TOTL,Andorra,AND,79824.0,79034.0,77700.0,76343.0,75013.0,73837.0,...,71519.0,73852.0,76055.0,78168.0,80221.0,79826.0,76933.0,73907.0,70849.0,67820.0